@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply bg-gray-800 py-4;
}
/* // give me space with links */

.navbar .links {
  @apply text-gray-300 text-xl font-semibold px-4;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    
}
